In [1]:
from fai_class import FAI
import pandas as pd
import os

In [2]:
ROOT_DIR = os.path.abspath(os.curdir)

In [3]:
dt_test=pd.read_csv('bank-full_test.csv',sep=';')
dt_prod=pd.read_csv('bank-full_prod.csv',sep=';')

In [4]:
performance=FAI(dt=dt_test,dt_test=dt_test,dt_prod=dt_prod,target='y',path=ROOT_DIR)

In [5]:
get_result=performance.adherence()

100%|██████████████████████████████████████████████████████████████████████████████████| 16/16 [00:04<00:00,  3.81it/s]

In [6]:
get_result_biv=performance.perf_features()

100%|██████████████████████████████████████████████████████████████████████████████████| 16/16 [00:04<00:00,  3.52it/s]

In [7]:
get_result.keys()

dict_keys(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'poutcome'])

In [8]:
get_result['age'][0]

              age   test   prod  Perc_test  Perc_prod       KS1  ALERT
0  (19.999, 29.0]   1299   3974     0.1299   0.112862  0.025676  False
1    (29.0, 31.0]    845   2908     0.0845   0.082588  0.054363  False
2    (31.0, 33.0]    885   3172     0.0885   0.090085  0.020486  False
3    (33.0, 36.0]   1250   4380     0.1250   0.124393  0.018004  False
4    (36.0, 38.0]    758   2404     0.0758   0.068274  0.006191  False
5    (38.0, 41.0]   1071   3062     0.1071   0.086961  0.012025  False
6    (41.0, 44.0]    899   2640     0.0899   0.074977  0.040896  False
7    (44.0, 49.0]   1168   4302     0.1168   0.122178  0.015735  False
8    (49.0, 61.0]   1825   8369     0.1825   0.237681  0.134611   True
9           Total  10000  35211     1.0000   1.000000  0.060559  False

In [9]:
get_result_biv['age']

,age,no,yes,Total,Perc_no,Perc_yes,Entropia,KS,RR
0,"(19.999, 29.0]",1238,61,1299,0.9530,0.0470,0.273514,0.048399,0.735669
1,"(29.0, 31.0]",808,37,845,0.9562,0.0438,0.259452,0.119748,0.791297
2,"(31.0, 33.0]",861,24,885,0.9729,0.0271,0.179633,0.097706,1.299271
3,"(33.0, 36.0]",1198,52,1250,0.9584,0.0416,0.249581,0.102286,0.835030
4,"(36.0, 38.0]",728,30,758,0.9604,0.0396,0.240455,0.036447,0.879113
5,"(38.0, 41.0]",1038,33,1071,0.9692,0.0308,0.198388,0.155894,1.139630
6,"(41.0, 44.0]",875,24,899,0.9733,0.0267,0.177562,0.086000,1.320397
7,"(44.0, 49.0]",1130,38,1168,0.9675,0.0325,0.206778,0.133815,1.077546
8,"(49.0, 61.0]",1774,51,1825,0.9721,0.0279,0.183749,0.133585,1.260742
9,Total,9650,350,10000,0.9650,0.0350,0.218878,0.082028,0.999900